.right-search {
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr;
  overflow: hidden;
  width: auto;
  height: 100%;
  padding: $small $small 0 0;

  .no-res {
    text-align: center;
    display: grid;

    .highlight {
      padding: $small;
      background-color: rgb(29, 26, 26);
    }
  }

  .heading {
    padding: $medium;
    border-radius: $small;
    margin-bottom: $small;
    text-align: center !important;
    font-size: 1;
    color: #fff;
  }

  .input {
    display: flex;
    align-items: center;
    position: relative;
  }
}

.right-search .scrollable {
  overflow-y: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.right-search {
  .input-loader {
    width: 100%;
    border-radius: 0.4rem;
    position: relative;

    ._loader {
      position: absolute;
      top: 0;
      right: 2rem;
    }

    input {
      width: calc(100% - 2.5rem);
      border: none;
      line-height: 2.5rem;
      background-color: transparent;
      color: rgb(255, 255, 255);
      font-size: 1rem;
      outline: none;
      transition: all 0.5s ease;
      padding-left: 0.75rem;

      &:focus {
        transition: all 0.5s ease;
        color: rgb(255, 255, 255);
        outline: none;

        &::placeholder {
          display: none;
        }
      }
    }
  }
}
