@mixin ximage {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

// media query mixins
@mixin phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin tablet-landscape {
  @media (max-width: 1080px) {
    @content;
  }
}

@mixin tablet-portrait {
  @media (max-width: 810) {
    @content;
  }
}

@mixin for-desktop-down {
  @media (max-width: 1600px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
