// Styles that only apply to our dear Firefox

@-moz-document url-prefix() {
  #acontent {
    margin-right: calc(-1rem + 1px);
    padding-right: 1rem;
  }

  // applies to playlist list page
  .content-page {
    margin-right: calc(0rem - ($medium + 4px));
  }

  // virtual scroller pages: folder, playlist, album
  .header-list-layout {
    margin-right: calc(0rem - ($medium + 4px)) !important;

    .scrollable {
      padding-right: calc(1rem - 3px) !important;
    }
  }

  .v-scroll-page {
    width: calc(100% + 1rem) !important;

    .scroller {
      height: 100%;
      width: 100%;
      // padding-right: 1.25rem !important;
    }
  }

  #app-grid.noSidebar > #acontent {
    padding-right: 1rem !important;
  }

  .search-view {
    margin-right: -1rem !important;
  }
}
