// Styles that only apply to our dear Firefox

@-moz-document url-prefix() {
  #acontent {
    margin-right: calc(-1rem + 1px);
    padding-right: 1rem;
  }

  .header-list-layout {
    margin-right: calc(0rem - ($medium + 4px)) !important;

    .scrollable {
      padding-right: calc(1rem - 3px) !important;
    }
  }

  // #app-grid.isSmall,
  // #app-grid.disableSidebar {
  //   #acontent {
  //     margin-right: -$small;
  //     padding-right: $medium;

  //     .search-view {
  //       margin-right: -0.8rem;
  //     }
  //   }
  // }

  // #app-grid.isSmall #page-search {
  //   margin-right: $smaller;
  // }

  // #app-grid.disableSidebar #page-search {
  //   margin-right: $smaller;
  // }
}
