input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: calc(100% - 2px);
  height: 0.3rem;
  border-radius: 5px;
  background: $gray4 linear-gradient(90deg, $darkblue, $darkestblue) no-repeat;
  background-size: 100% 100%;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;

    height: 0;
    width: 0.8rem;
    border-radius: 50%;
    background: $darkestblue;
  }

  &::-moz-range-thumb {
    -webkit-appearance: none;

    height: 0;
    border-radius: 50%;
    background: $darkestblue;
    border: none;
  }

  &::-ms-thumb {
    -webkit-appearance: none;

    height: 0;
    width: 0.8rem;
    border-radius: 50%;
    background: $darkestblue;
    border: none;
  }
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb:hover {
  background: $accent;
}

input[type="range"]::-moz-range-thumb:hover {
  background: $accent;
}

input[type="range"]::-ms-thumb:hover {
  background: $accent;
}

/* Input Track */
input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
