$g-border: solid 1px $gray5;

#app-grid {
  display: grid;
  grid-template-columns: min-content 1fr 29rem;
  grid-template-rows: max-content 1fr 5rem;
  grid-template-areas:
    "l-sidebar nav r-sidebar"
    "l-sidebar content r-sidebar"
    "bottombar bottombar bottombar";

  // gap: 0 1.5rem;
  height: 100%;
  border: $g-border;
  border-top: none;
  border-bottom: none;
  margin: 0 auto;
  max-width: 1720px;
}

#acontent {
  width: 100%;
  grid-area: content;
  padding-right: calc($medium);

  overflow: hidden;
}

.vue-recycle-scroller__item-wrapper {
  overflow: visible !important;
}

.vue-recycle-scroller {
  padding-left: 1.25rem;
  scrollbar-gutter: stable;
}

.r-sidebar {
  grid-area: r-sidebar;
  border-left: $g-border;
}

.topnav {
  grid-area: nav;
  margin: 1rem 0;
}

.l-sidebar {
  width: 15rem;
  grid-area: l-sidebar;
  display: grid;
  grid-template-rows: 1fr max-content;
  border-right: $g-border;
}

.b-bar {
  grid-area: bottombar;
  border-top: $g-border;
}

.content-page {
  margin-left: 1.25rem;
  margin-right: -$medium;
  padding-right: $medium;
  scrollbar-gutter: stable;
}

// ====== MODIFIERS =======

#app-grid.extendWidth {
  max-width: 100%;
  padding-right: 0;
  border-left: none;
  border-right: none;
}

#app-grid.noSidebar {
  grid-template-columns: min-content 1fr;
  grid-template-areas:
    "l-sidebar nav"
    "l-sidebar content"
    "bottombar bottombar";

  #acontent {
    margin-right: 0 !important;
    padding-right: $medium !important;
  }

  .topnav {
    //reduce width to match #acontent
    width: calc(100% - 1rem);
    padding-right: 0;
  }
}

#app-grid.NoSideBorders {
  border-right: none;
  border-left: none;
}

.v-scroll-page {
  width: calc(100% + $medium) !important;

  .scroller {
    height: 100%;
    width: 100%;
    padding-right: 1.25rem;
    padding-bottom: $content-padding-bottom;
  }
}

.isSmall {
  .songlist-item {
    grid-template-columns: 1.75rem 2fr 2.5rem 2.5rem;
  }

  .song-artists,
  .song-album {
    display: none !important;
  }

  .isSmallArtists {
    display: unset !important;
    font-size: small;
    color: $white;
    opacity: 0.67;
  }
}

.isMedium {
  // hide album column
  .songlist-item {
    grid-template-columns: 1.75rem 1.5fr 1fr 2.5rem 2.5rem;
  }

  .song-album {
    display: none !important;
  }
}
