#app-grid {
  display: grid;
  grid-template-columns: min-content 1fr 29rem;
  grid-template-rows: max-content 1fr max-content;
  grid-template-areas:
    "l-sidebar nav search-input"
    "l-sidebar content r-sidebar"
    "l-sidebar content r-sidebar"
    "l-sidebar content bottombar";
  max-width: 2720px;
  height: calc(100vh - 1rem);
  margin: 0 auto;
  gap: 1rem;
  margin: $small auto;

  @include for-desktop-down {
    grid-template-columns: min-content 1fr 26rem;
  }

  @include tablet-landscape {
    grid-template-columns: min-content 1fr;
    grid-template-areas:
      "l-sidebar nav"
      "l-sidebar content"
      "l-sidebar content"
      "l-sidebar content";
    .r-sidebar,
    #tabs,
    #gsearch-input {
      display: none;
    }
  }
}

#app-grid.showAltNP {
  @include tablet-landscape {
    grid-template-areas:
      "l-sidebar nav"
      "l-sidebar content"
      "l-sidebar content"
      "l-sidebar bottombar";
  }
}

#app-grid.disableSidebar {
  grid-template-columns: min-content 1fr;
  grid-template-areas:
    "l-sidebar nav"
    "l-sidebar content"
    "l-sidebar content"
    "l-sidebar content";
}

#acontent {
  grid-area: content;
  max-width: 1955px;
  overflow: hidden scroll;
  margin-right: -1rem;
  padding-right: calc($medium - 1px);

  .nav {
    margin: $small;
    width: calc(100% - 1rem);
  }
}

#tabs {
  grid-area: tabs;
  height: 3.5rem;
  margin-top: -$small;
}

.r-sidebar {
  grid-area: r-sidebar;
}

#gsearch-input {
  grid-area: search-input;
}

.topnav {
  grid-area: nav;
}

.l-sidebar {
  width: 15rem;
  grid-area: l-sidebar;
  display: grid;
  grid-template-rows: 1fr max-content;
  background-color: $gray;
  height: 100vh;
  margin-top: -$small;
  margin-left: -$small;
}

.b-bar {
  grid-area: bottombar;
}
