#app-grid {
  display: grid;
  grid-template-columns: min-content 1fr 29rem;
  grid-template-rows: max-content 1fr max-content;
  grid-template-areas:
    "l-sidebar nav search-input"
    "l-sidebar content r-sidebar"
    "l-sidebar content r-sidebar"
    "l-sidebar content bottombar";
  height: calc(100vh);
  gap: 1rem;
  padding: $small 0;
  margin: 0 auto;
  margin-top: -$small;
  max-width: 1720px;
  // padding-right: $medium;
  // border-right: solid 1px $gray4;
  padding-top: $small;
}

#app-grid.extendWidth {
  padding-right: 0;
  border-right: none;
  max-width: 100%;
}

#app-grid.addBorderRight {
  border-right: solid 1px $gray4;
  padding-right: $medium;
}

#app-grid.isSmall {
  grid-template-columns: min-content 1fr;
  grid-template-areas:
    "l-sidebar nav"
    "l-sidebar content"
    "l-sidebar content"
    "l-sidebar content";
}

#app-grid.showAltNP {
  @include tablet-landscape {
    grid-template-areas:
      "l-sidebar nav"
      "l-sidebar content"
      "l-sidebar content"
      "l-sidebar bottombar";
  }
}

#app-grid.disableSidebar {
  grid-template-columns: min-content 1fr;
  grid-template-areas:
    "l-sidebar nav"
    "l-sidebar content"
    "l-sidebar content"
    "l-sidebar content";
}

#acontent {
  grid-area: content;
  overflow: hidden scroll;
  margin-right: -1rem;
  padding-right: calc($medium - 1px);

  .nav {
    margin: $small;
    width: calc(100% - 1rem);
  }
}

#app-grid.isSmall,
#app-grid.disableSidebar {
  #acontent {
    margin-right: -$small;
    padding-right: calc($small - 1px);

    .search-view {
      margin-right: -0.8rem;
    }
  }
}

#tabs {
  grid-area: tabs;
  height: 3.5rem;
  margin-top: -$small;
}

.r-sidebar {
  grid-area: r-sidebar;
}

#gsearch-input {
  grid-area: search-input;
}

.topnav {
  grid-area: nav;
}

.l-sidebar {
  width: 15rem;
  grid-area: l-sidebar;
  display: grid;
  grid-template-rows: 1fr max-content;
  background-color: rgb(22, 22, 22);
  height: 100vh;
  margin-top: -$small;
  margin-left: -$small;
}

.b-bar {
  grid-area: bottombar;
}