// TEXT

.t-center {
  text-align: center;
}

.ellip {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  width: fit-content;
  max-width: 100%;
}

.ellip2 {
  word-wrap: anywhere;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #fff;
}

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.3s ease-in-out;
}

// BORDERS
.rounded {
  border-radius: 1rem;
}

.rounded-sm {
  border-radius: $small;
}

.rounded-md {
  border-radius: $medium;
}

.circular {
  border-radius: 10rem;
}

.border {
  border: 1px solid $gray3;
}

.bg-primary {
  background-color: $gray4;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.425);
}

// BUTTONS
button {
  border: none;
  font-size: 0.9rem !important;
  color: inherit;
  border-radius: $small;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.25rem;
  background: linear-gradient(70deg, $gray3, $gray2);
  padding: 0 $small;

  svg {
    transition: all 0.2s;
  }

  &:active {
    svg {
      transform: scale(0.75);
    }
  }

  &:hover {
    background-image: linear-gradient($darkestblue, $darkblue);
  }
}

.btn-active {
  background-image: linear-gradient($darkestblue, $darkblue);
}

.btn-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.btn-more {
  width: 2.5rem;
}

// POSITION

.abs {
  position: absolute;
}

// OTHERS
.grid {
  display: grid;
}

.flex {
  display: flex;
}

.separator {
  border-top: 1px $separator solid;
  color: transparent;
  margin: $small 0 $small 0;
  opacity: 0.5;
}

// NO THIS, NO THAT (OVERRIDES)
.no-border {
  border: none;
}

.no-scroll {
  overflow: hidden;
}

.no-select {
  user-select: none;
}

.load_disabled {
  pointer-events: all;
  background: $gray5 !important;
  opacity: 1;
}
