.t-center {
  text-align: center;
}

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.3s ease-in-out;
}

.ellip {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.rounded {
  border-radius: 1rem;
}

.rounded-sm {
  border-radius: $small;
}

.rounded-md {
  border-radius: $medium;
}

.circular {
  border-radius: 50%;
}

.flex {
  display: flex;
}

.bg-primary {
  background-color: $gray4;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.425);
}

.border {
  border: 1px solid $gray3;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  border: none;
  font-size: 0.9rem !important;
  color: inherit;
  border-radius: $small;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.25rem;
  background: linear-gradient(70deg, $gray3, $gray2);
  padding: 0 $small;

  svg {
    transition: all 0.2s;
  }

  &:active {
    svg {
      transform: scale(0.75);
    }
  }

  &:hover {
    background-image: linear-gradient(70deg, $darkestblue, $darkblue);
  }
}

.btn-active {
  background-image: linear-gradient(70deg, $darkestblue, $darkblue);
}

.btn-more {
  width: 2.5rem;

  svg {
    transform: scale(1.25);
  }
}

.separator {
  border-top: 1px $separator solid;
  color: transparent;
  margin: $small 0 $small 0;
  opacity: 0.5;
}

.no-border {
  border: none;
}

.noscroll {
  overflow: hidden;
}

.abs {
  position: absolute;
}

.grid {
  display: grid;
}

.card-dark {
  background-color: #fff;
}

#tooltip {
  background-color: $darkestblue;
  border-radius: $smaller;
  padding: $smaller;
  font-size: 0.85rem;
  visibility: hidden;
  position: absolute;
  z-index: 300;
}

#tooltip[data-popper-reference-hidden] {
  visibility: hidden !important;
  pointer-events: none;
}