.controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .shuffle {
    width: 100%;
    display: flex;
    align-items: center;

    & * {
      height: 2rem;
      width: 2rem;
      background-size: 70%;
      cursor: pointer;
      border-radius: 0.5rem;

      &:hover {
        background-color: rgb(170, 50, 50);
      }
    }

    & :first-child {
      background-image: url(../../assets/icons/repeat.svg);
    }

    & :last-child {
      background-image: url(../../assets/icons/shuffle.svg);
    }
  }

  .fav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & * {
      height: 2rem;
      width: 2rem;
      background-size: 70%;
      border-radius: 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: rgb(170, 50, 50);
      }
    }

    & :first-child {
      background-image: url(../../assets/icons/plus.svg);
    }

    & :last-child {
      background-image: url(../../assets/icons/heart.svg);
    }
  }
}
