@import "./app-grid.scss", "./controls.scss", "./inputs.scss",
  "./scrollbars.scss", "./state.scss", "./variants.scss", "./basic.scss",
  "./search-tabheaders.scss", "./album-grid.scss";

* {
  box-sizing: border-box;
}

#vue-recycle-scroller__item-wrapper {
  overflow: visible !important;
}

html {
  cursor: default !important;

  & > * {
    overflow: visible !important;
  }
}

html.loading,
html.loading * {
  cursor: progress !important;
}

body {
  background-color: $body;
  color: $white;
  font-family: "SFCompactDisplay", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 1rem;
  image-rendering: -webkit-optimize-contrast;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;

  #app {
    width: 100%;
    height: 100%;
  }

  a {
    cursor: default !important;
  }
}
