@import "./app-grid.scss", "./controls.scss", "./inputs.scss",
  "./scrollbars.scss", "./state.scss", "./variants.scss", "./basic.scss";

:root {
  --separator: #ffffff46;
  --green: #4ad168;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $body;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: "SF Compact Display" !important;
  font-size: 1rem;
  overflow: hidden;
  image-rendering: -webkit-optimize-contrast;
}
