::-webkit-scrollbar {
  width: 3px;
}

/* Track */

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 1rem;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: $gray1;
  border-radius: 1rem;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: $blue;
}
