.tabheaders {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  justify-content: space-around;
  margin: 1rem;
  width: max-content;
  background-color: $gray4;
  height: 2.25rem;

  & > * {
    border-left: solid 1px $gray3;
  }

  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

    transition: all 0.3s ease;
    padding: 0 $small;

    &:first-child {
      border-left: solid 1px transparent;
    }
  }

  .activetab {
    background-color: $darkblue;
    transition: all 0.3s ease;
    border-left: solid 1px transparent;
  }
}
