// paddings
.pad-smaller {
  padding: $smaller;
}

.pad-sm {
  padding: $small;
}

.pad-medium {
  padding: $medium;
}

.pad-lg {
  padding: 1rem;
}

// shadows
.shadow-sm {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.452);
}

.shadow-md {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.075);
}

.shadow-lg {
  box-shadow: 0 0 $medium rgba(0, 0, 0, 0.589);
}
