.git
.github
.vscode
.idea
.cursor
.claude
.DS_Store

__pycache__
*.pyc
*.pyd
*.so
*.egg
*.egg-info
*.whl
.pytest_cache
.hypothesis
venv
.venv

build
dist
wheels

Dockerfile
docker-compose.yml
.dockerignore
.gitignore
.pypirc
.env*

LICENSE
*.spec

tests
docs
contributing
appimage

logs.txt
nohup.out
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
