# local env files
.env.local
.env.*.local
venv
.venv

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

__pycache__
.hypothesis
sqllib.py
encoderx.py
.pytest_cache

# pyinstaller files
dist
build
client
.gitignore

logs.txt


# TODO.md
testdata.py
test.py
nohup.out
*s.json


.DS_Store
*.egg-info