altgraph==0.17.4
annotated-types==0.6.0
astroid==2.15.8
attrs==23.1.0
black==22.12.0
blinker==1.6.3
Brotli==1.1.0
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
colorgram.py==1.2.0
ConfigArgParse==1.7
dill==0.3.7
exceptiongroup==1.1.3
ffmpeg-python==0.2.0
Flask==2.3.3
Flask-BasicAuth==0.2.0
Flask-Compress==1.14
Flask-Cors==3.0.10
Flask-JWT-Extended==4.6.0
flask-openapi3==3.0.2
future==1.0.0
gevent==23.9.1
geventhttpclient==2.0.11
greenlet==3.0.3
hypothesis==6.87.3
idna==3.4
iniconfig==2.0.0
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
lazy-object-proxy==1.9.0
locust==2.20.1
MarkupSafe==2.1.3
mccabe==0.7.0
memory-profiler==0.61.0
msgpack==1.0.7
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.11.2
pendulum==3.0.0
Pillow==9.5.0
platformdirs==3.11.0
pluggy==1.3.0
psutil==5.9.5
pydantic==2.6.3
pydantic_core==2.16.3
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2023.9
PyJWT==2.8.0
pylint==2.17.7
pytest==7.4.2
python-dateutil==2.8.2
pyxdg==0.28
pyzmq==25.1.2
rapidfuzz==2.15.2
requests==2.31.0
roundrobin==0.0.4
setproctitle==1.3.3
show-in-file-manager==1.1.4
six==1.16.0
sortedcontainers==2.4.0
SQLAlchemy==2.0.31
tabulate==0.9.0
tinytag==1.10.1
tomli==2.0.1
tomlkit==0.12.1
tqdm==4.66.1
typing_extensions==4.8.0
tzdata==2024.1
Unidecode==1.3.7
urllib3==2.0.6
waitress==2.1.2
watchdog==4.0.0
Werkzeug==3.0.0
wrapt==1.15.0
xxhash==3.4.1
zope.event==5.0
zope.interface==6.1
