// colors

$card-dark: #08090c;
$red: #df4646;
$blue: #055096;
$green: #439443;
$separator: #ffffff46;
$pink: #c43a3a;
$highlight-blue: #006eff;
// sizes
$small: 0.5em;
$smaller: 0.25em;

// media query mixins

@mixin phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin tablet-portrait {
  @media (max-width: 900px) {
    @content;
  }
}
@mixin tablet-landscape {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
