:root {
  --separator: #ffffff46;
  --green: #4ad168;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0d0e0e;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
}

.heading {
  font-size: small;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.t-center {
  text-align: center;
}

.h-1:hover {
  background-color: #3a39393d;
}

a {
  text-decoration: none;
  color: #fff;
}

.border {
  border: solid 1px rgba(39, 38, 38, 0.329);
}

.separator {
  border-top: 0.1px $separator solid;
  color: transparent;
  margin: $small 0 $small 0;
}

.no-border {
  border: none;
}

.card-dark {
  background-color: $card-dark;
}

.hidden {
  display: none;
}

button {
  border: none;
  outline: none;
  color: inherit;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    background-color: rgb(158, 58, 58) !important;
  }
}

.l-container {
  display: grid;
  grid-template-columns: min-content 4fr min-content;
  grid-template-rows: 4rem 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas: "l-sidebar content r-sidebar" "l-sidebar content r-sidebar" "l-sidebar content r-sidebar";
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: rgba(0, 0, 0, 0.575);
}

.l-sidebar {
  width: 15em;
  grid-area: l-sidebar;
  padding-top: 0.5rem;
  margin: 0.5rem 0 0.5rem 0.5rem;
  border-radius: 0.5rem;
  background-color: $card-dark;
}

.collapsed .l-sidebar {
  width: 70px;
  transition: all 0.3s ease;
}

.ellip {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rounded {
  border-radius: 10px;
}

.circular {
  border-radius: 20px;
}

.flex {
  display: flex;
}

.content {
  grid-area: content;
  border-radius: 0.25rem;
  overflow: hidden;
}

.r-sidebar {
  grid-area: r-sidebar;
  border-radius: 5px;
  margin-right: 0.5rem;
  overflow-y: auto;
  width: 30em;
  position: relative;
  margin-bottom: 0.5em;
}

@media (max-width: 70em) {
  .r-sidebar {
    display: none;
  }
}

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.3s ease-in-out;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* scrollbars */

/* width */

::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */

::-webkit-scrollbar-track {
  background: rgba(51, 51, 51, 0.459);
  border-radius: 1rem;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 1rem;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: $blue;
}

@-webkit-keyframes similarAlbums {
  0% {
    background-position: 0% 38%;
  }
  50% {
    background-position: 100% 63%;
  }
  100% {
    background-position: 0% 38%;
  }
}
@-moz-keyframes similarAlbums {
  0% {
    background-position: 0% 38%;
  }
  50% {
    background-position: 100% 63%;
  }
  100% {
    background-position: 0% 38%;
  }
}
@-o-keyframes similarAlbums {
  0% {
    background-position: 0% 38%;
  }
  50% {
    background-position: 100% 63%;
  }
  100% {
    background-position: 0% 38%;
  }
}
@keyframes similarAlbums {
  0% {
    background-position: 0% 38%;
  }
  50% {
    background-position: 100% 63%;
  }
  100% {
    background-position: 0% 38%;
  }
}

.now-playing-track {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: #fff;
  margin-top: 0rem;
  background-size: 60%;
}

.active {
  background-image: url(../../assets/icons/playing.gif);
  transition: all 0.3s ease-in-out;
}

.not_active {
  background-image: url(../../assets/icons/playing.webp);
  transition: all 0.3s ease-in-out;
}
