:root {
  --seperator: #ffffff48;
  --green: #4AD168;
}

body {
  margin: 0;
  background: #0d0e0e;
  color: #fff;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #fff;
}

.seperator {
  border: 1px solid;
  color: transparent;
  margin: 0em;
}

.hidden {
  display: none;
}

.l-container {
  display: grid;
  grid-template-columns: min-content 4fr 1.5fr;
  grid-template-rows: 78px 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    "l-sidebar nav nav"
    "l-sidebar content r-sidebar"
    "l-sidebar content r-sidebar";
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: rgba(0, 0, 0, 0.575);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  -moz-backdrop-filter: blur(40px)
}

#bg-blur {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(27, 27, 27, 0.548);
  background-image: url(../images/dark-bg.jpg);
  z-index: -1;
}

.collapsed .l-sidebar {
  width: 70px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: width;
}

.l-sidebar {
  width: 250px;
  grid-area: l-sidebar;
  padding-top: 0.5em;
  background-color: #131313b2;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 0.3s;
  transition-property: width;
}
.rounded {
  border-radius: 10px;
}

.circular {
  border-radius: 20px;
}

.flex {
  display: flex;
}

.nav {
  grid-area: nav;
  border: 1px solid;
}

.content {
  grid-area: content;
  border-radius: .25em;
  padding: .5em;
  overflow: hidden;
}

.r-sidebar {
  grid-area: r-sidebar;
  border: 1px solid rgb(109, 109, 109);
  border-radius: 5px;
}


/* scrollbars */

/* width */
::-webkit-scrollbar {
  width: .5em;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(51, 51, 51, 0.459);
  border-radius: 1em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(163, 163, 163);
}

