:root {
  --grey: #ffffff48;
}

body {
  margin: 0;
  background: #0e141a;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

a {
  text-decoration: none;
  color: #fff;
}

hr,
.seperator {
  border: 1px solid;
  color: #ffffff48;
}

.l-container {
  display: grid;
  grid-template-columns: 250px 4fr 2fr;
  grid-template-rows: 78px 1fr 1fr;
  gap: 4px;
  grid-auto-flow: row;
  grid-template-areas:
    "l-sidebar nav nav"
    "l-sidebar content r-sidebar"
    "l-sidebar content r-sidebar";
  width: 100vw;
  height: 100vh;
}

.l-sidebar {
  grid-area: l-sidebar;
  padding-top: 0.5em;
  background-color: #131313b2;
}

@media (max-width: 1000px) {
  .l-sidebar {
    width: 70px;
  }
}

.nav {
  grid-area: nav;
  border-radius: 5px;
}

.content {
  grid-area: content;
  border-radius: 5px;
}

.r-sidebar {
  grid-area: r-sidebar;
  border: 1px solid rgb(109, 109, 109);
  border-radius: 5px;
}
