@import "../css/ProgressBar.scss";
@import "mixins.scss";

:root {
  --separator: #ffffff46;
  --green: #4ad168;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $body;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  overflow: hidden;
  image-rendering: -webkit-optimize-contrast;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
}

.t-center {
  text-align: center;
}

.h-1:hover {
  background-color: #3a39393d;
}

a {
  text-decoration: none;
  color: #fff;
}

.border {
  background-color: $black;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.separator {
  border-top: 0.1px $separator solid;
  color: transparent;
  margin: $small 0 $small 0;
}

.no-border {
  border: none;
}

.noscroll {
  overflow: hidden;
}

.abs {
  position: absolute;
}

.pad-small {
  padding: $small;
}

.pad-medium {
  padding: $medium;
}

.pad-large {
  padding: 1rem;
}

.grid {
  display: grid;
}

.card-dark {
  background-color: #fff;
}

.hidden {
  display: none;
}

.l-container {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: 3.5rem 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    "l-sidebar nav search-input"
    "l-sidebar content r-sidebar"
    "l-sidebar content r-sidebar"
    "l-sidebar content tabs";
  width: 100%;
  align-content: center;
  max-width: 2720px;
  height: 100vh;
  margin: 0 auto;
}

.tabs {
  grid-area: tabs;
  border-left: solid 1px $gray3;

  @include tablet-landscape {
    display: none;
  }
}

#gsearch-input {
  grid-area: search-input;
}

.topnav {
  grid-area: nav;
}

.l-sidebar {
  width: 17rem;
  grid-area: l-sidebar;
  background-color: $black;
  margin: $small;
  padding: 1rem;
}

.bottom-bar {
  grid-area: bottom-bar;
  height: 4rem;
}

.ellip {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rounded {
  border-radius: $small;
}

.circular {
  border-radius: 20px;
}

.flex {
  display: flex;
}

#acontent {
  grid-area: content;
  width: 100%;
  max-width: 1955px;
  padding: $small;
  padding-left: 0;
  overflow: auto;
  margin: 0 auto;

  .nav {
    margin: $small;
    width: calc(100% - 1rem);
  }
}

.r-sidebar {
  grid-area: r-sidebar;
  border-left: solid 1px $gray3;
}

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.3s ease-in-out;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.shadow-sm {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.452);
}

.shadow-md {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.075);
}

.shadow-lg {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.175);
}

/* scrollbars */

/* width */

::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */

::-webkit-scrollbar-track {
  background: rgba(51, 51, 51, 0.459);
  border-radius: 1rem;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.322);
  border-radius: 1rem;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: $blue;
}

@-webkit-keyframes similarAlbums {
  0% {
    background-position: 0 38%;
  }
  50% {
    background-position: 100% 63%;
  }
  100% {
    background-position: 0 38%;
  }
}
@-moz-keyframes similarAlbums {
  0% {
    background-position: 0 38%;
  }
  50% {
    background-position: 100% 63%;
  }
  100% {
    background-position: 0 38%;
  }
}
@-o-keyframes similarAlbums {
  0% {
    background-position: 0 38%;
  }
  50% {
    background-position: 100% 63%;
  }
  100% {
    background-position: 0 38%;
  }
}
@keyframes similarAlbums {
  0% {
    background-position: 0 38%;
  }
  50% {
    background-position: 100% 63%;
  }
  100% {
    background-position: 0 38%;
  }
}

.now-playing-track {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: #fff;
  margin-top: 0;
  background-size: 60%;
}

.active {
  background-image: url(../../assets/icons/playing.gif);
  transition: all 0.3s ease-in-out;
}

.not_active {
  background-image: url(../../assets/icons/playing.webp);
  transition: all 0.3s ease-in-out;
}

.item {
  position: relative;
  background-color: rgba(34, 33, 33, 0.637);
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 0 $small 0 0;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: rgb(250, 250, 250);

  &:hover {
    background-color: $pink;
  }
}

input[type="number"] {
  width: 40px;
  padding: 4px 5px;
  border: 1px solid #bbb;
  border-radius: 3px;
}

.controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .shuffle {
    width: 100%;
    display: flex;
    align-items: center;

    & * {
      height: 2rem;
      width: 2rem;
      background-size: 70%;
      cursor: pointer;
      border-radius: 0.5rem;

      &:hover {
        background-color: rgb(170, 50, 50);
      }
    }

    & :first-child {
      background-image: url(../../assets/icons/repeat.svg);
    }

    & :last-child {
      background-image: url(../../assets/icons/shuffle.svg);
    }
  }

  .fav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & * {
      height: 2rem;
      width: 2rem;
      background-size: 70%;
      border-radius: 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: rgb(170, 50, 50);
      }
    }

    & :first-child {
      background-image: url(../../assets/icons/plus.svg);
    }

    & :last-child {
      background-image: url(../../assets/icons/heart.svg);
    }
  }
}
