// Styles that only apply on our dear Firefox 

@-moz-document url-prefix() {
  #acontent {
    padding-right: 1rem !important;
  }

  #ap-page {
    width: 100% !important;
    padding-right: 1rem !important;
  }

  .ap-page-bottom-container {
    width: calc(100% - 1rem) !important;
  }
}
