[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
tk = "*"
flask-cors = "*"
mutagen = "*"
pymongo = "*"
click = "*"
requests = "*"
watchdog = "*"
progress = "*"
pillow = "*"
gunicorn = "*"

[dev-packages]
autopep8 = "*"
ipykernel = "*"

[requires]
python_version = "3.8"
