[Desktop Entry]
Type=Application
Name=swingmusic
GenericName=Music player
Exec=swingmusic
Comment=A Music Server running on {{ python-fullversion }}
Icon=swingmusic
Categories=AudioVideo;Music;
Terminal=true